In [129]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

csvfile = pd.read_csv('nuama.csv')
csvfile.head()
# csvfile = csvfile[2:]
# csvfile.columns = ['period', 'date', 'metric', 'new_user', 'user_loss', 'notes']
# index = ['date', 'new_user', 'user_loss']
# csvfile = csvfile[index]
# cdt, cnu, cul = csvfile['date'], csvfile['new_user'], csvfile['user_loss']
# cdt = cdt.astype('O')
# cnu = cnu.str.replace(',', '', regex=False)
# cnu = cnu.astype(int)
# cul = cul.str.replace(',', '', regex=False)
# cul = cul.astype(int)
# csvfile['date'], csvfile['new_user'], csvfile['user_loss'] = cdt, cnu, cul
# csvfile = csvfile.sort_values(by='date', ascending=True)
# csvfile.reset_index(drop=True, inplace=True)
# csvfile.set_index('date')
# csvfile['delta'] = csvfile['new_user'] - csvfile['user_loss']
# csvfile
# csvfile.plot(x='date', figsize=(20,10), rot=45).grid(color='r', axis='x', linestyle='--')
# help(csvfile)
# help(csvfile.plot)

,"New user acquisitions (All events, Per interval, Daily) and All user loss (All events, Per interval, Daily), by Android Version for 2019-01-01 - 2019-09-22 and 2018-12-03 - 2019-08-24",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Metric,"New user acquisitions (All events, Per interva...","All user loss (All events, Per interval, Daily)",Notes
1,NaN,NaN,Dimension,All Android versions,All Android versions,NaN
2,Period,Date,NaN,NaN,NaN,NaN
3,2019-01-01 - 2019-09-22,2019-01-01,NaN,436,166,Rollout of release - Started rollout of 0.3.8 ...
4,2019-01-01 - 2019-09-22,2019-01-02,NaN,378,140,NaN