In [2]:
import pandas as pd
import numpy as np

index = np.array(['Total variable cost', 'Total fixed cost'])
data = {'amount': [50000, 100000]}
df = pd.DataFrame(data=data, index=index)
index = np.append(['Total cost'], index)
df.reindex(index)
df.loc['Total cost'] = [df.amount.sum()]
df['tax'] = df['amount'] * -0.1
df['net'] = df['amount']
print(df.index)
print(df.head())
print(index)
df.to_csv('TVC.csv')

Index(['Total variable cost', 'Total fixed cost', 'Total cost'], dtype='object')
                     amount      tax     net
Total variable cost   50000  -5000.0   50000
Total fixed cost     100000 -10000.0  100000
Total cost           150000 -15000.0  150000
['Total cost' 'Total variable cost' 'Total fixed cost']

In [3]:
import matplotlib.pyplot as plt
df.plot(kind='bar', bottom=[1000,4000,2000])

In [62]:
dfuser = pd.read_csv('install-by-user-android.csv')
#dfuser.droplevel(np.nan, axis=1, level=1)
dfuser.head()
#ndf = dfuser.iloc[2:]
#ndf.drop('Period', axis=0)
#x=dfuser.columns.values[0]
#x = dfuser.columns.get_level_values(0)

#z= ndf.rename(columns={x: 'a'})
#z.iloc[0::3]

                                                                  com.kompasgramedia.myvalue - Installs by user by Android Version for 2019-02-22 - 2019-02-28 and 2019-01-25 - 2019-01-31
NaN                     NaN        Metric    Installs by user                                                  Notes
                                   Dimension All Android versions                                                NaN
Period                  Date       NaN       NaN                                                                 NaN
2019-02-22 - 2019-02-28 2019-02-22 NaN       535                                                                 NaN
                        2019-02-23 NaN       604                                                                 NaN

In [66]:
df = pd.read_csv('install-by-user-android.csv', header=1)
df.head()

                Unnamed: 0  Unnamed: 1     Metric      Installs by user Notes
0                      NaN         NaN  Dimension  All Android versions   NaN
1                   Period        Date        NaN                   NaN   NaN
2  2019-02-22 - 2019-02-28  2019-02-22        NaN                   535   NaN
3  2019-02-22 - 2019-02-28  2019-02-23        NaN                   604   NaN
4  2019-02-22 - 2019-02-28  2019-02-24        NaN                   466   NaN

In [229]:
from datetime import datetime
df.columns = ['Period','Date','Metric','Installs by user', 'Notes']
z = df.loc[2:]
z = z[['Date', 'Installs by user']]


z['Installs by user'] = z['Installs by user'].str.replace(',', '', regex=False)
z['Installs by user'].where(z['Installs by user'] == np.NaN, 0)
z['Installs by user'] = z['Installs by user'].astype(int)
z['Date'] = z['Date'].astype('O')

z = z.sort_values(by=['Date'],ascending=True)
z.reset_index(drop=True, inplace=True)
z.set_index('Date')
# z.loc[:10].plot.line(x='Date', 'ro--')
help(z.plot.line)
z

Help on method line in module pandas.plotting._core:

line(x=None, y=None, **kwargs) method of pandas.plotting._core.PlotAccessor instance
    Plot Series or DataFrame as lines.

    This function is useful to plot lines using DataFrame's values
    as coordinates.

    Parameters
    ----------
    x : int or str, optional
        Columns to use for the horizontal axis.
        Either the location or the label of the columns to be used.
        By default, it will use the DataFrame indices.
    y : int, str, or list of them, optional
        The values to be plotted.
        Either the location or the label of the columns to be used.
        By default, it will use the remaining DataFrame numeric columns.
    **kwds
        Keyword arguments to pass on to :meth:`DataFrame.plot`.

    Returns
    -------
    :class:`matplotlib.axes.Axes` or :class:`numpy.ndarray`
        Return an ndarray when ``subplots=True``.

    See Also
    --------
    matplotlib.pyplot.plot : Plot y versus x as lines and/or markers.

    Examples
    --------

    .. plot::
        :context: close-figs

        >>> s = pd.Series([1, 3, 2])
        >>> s.plot.line()

    .. plot::
        :context: close-figs

        The following example shows the populations for some animals
        over the years.

        >>> df = pd.DataFrame({
        ...    'pig': [20, 18, 489, 675, 1776],
        ...    'horse': [4, 25, 281, 600, 1900]
        ...    }, index=[1990, 1997, 2003, 2009, 2014])
        >>> lines = df.plot.line()

    .. plot::
       :context: close-figs

       An example with subplots, so an array of axes is returned.

       >>> axes = df.plot.line(subplots=True)
       >>> type(axes)
       <class 'numpy.ndarray'>

    .. plot::
        :context: close-figs

        The following example shows the relationship between both
        populations.

        >>> lines = df.plot.line(x='pig', y='horse')

          Date  Installs by user
0   2019-01-25               456
1   2019-01-26               587
2   2019-01-27               477
3   2019-01-28               374
4   2019-01-29               359
5   2019-01-30               377
6   2019-01-31              1205
7   2019-02-22               535
8   2019-02-23               604
9   2019-02-24               466
10  2019-02-25               336
11  2019-02-26               381
12  2019-02-27               342
13  2019-02-28               302

In [145]:
print(z.dtypes)

z['Date'] = pd.to_datetime(z['Date'])
print(z['Date'])
#z['Date'] = datetime.strptime(z['Date'], '%m-%d-%Y')

Date                datetime64[ns]
Installs by user             int64
dtype: object
0    2019-02-22
1    2019-02-23
2    2019-02-24
3    2019-02-25
4    2019-02-26
5    2019-02-27
6    2019-02-28
7    2019-01-25
8    2019-01-26
9    2019-01-27
10   2019-01-28
11   2019-01-29
12   2019-01-30
13   2019-01-31
Name: Date, dtype: datetime64[ns]